.about-section-container {
  padding: 5rem 2rem;
  background-color: #f3f3f3;
  text-align: center;
}

.Heading {
  font-size: 3.5rem;
  color: #1e1e1e;
  font-weight: bold;
  margin-bottom: 3rem;
}

.Heading .highlight {
  background-color: #16a34a; /* Green */
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  margin-left: 0.5rem;
}

.about-message-box {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px 12px;
  font-size: 1.8rem;
  color: #333;
  line-height: 2.8rem;
}
